body {
	background-color: #0A101D;
	margin: 0px;
	padding: 0px;
	color: #7B90B8;
	font-family: Tahoma,Helvetica;
	font-size: 13px;
}
a:link, a:visited, a:active {
	color: #B0C4DE;
}
a:hover {
	color: #FFFFFF;
}

div#header {
	/*margin-left: auto;
	margin-right: auto;
	width: 520px;*/
	text-align: center;
}
div#adsense {
	margin-left: auto;
	margin-right: auto;
	width: 728px;
}

div#container {
	background-color: #171E2F;
	margin-left: auto;
	margin-right: auto;
	width: 933px;
	border: 1px solid #000000;
}

input, select {
	border: 1px solid #000000;
	background-color: #2F374C;
	color: #7B90B8;
	width: 181px;
}
input#submit {
	width: auto;
}

input#title {
	border: 1px solid #000000;
	background-color: #1F273C;
	color: #7B90B8;
}

textarea {
	border: 1px solid #000000;
	background-color: #1F273C;
	color: #7B90B8;
}
div#cr-container textarea {
    width: 440px;
}
textarea#cr-input {
    height: 400px;
}
textarea#cr-output {
    height: 375px;
}

div#cr-container {
	vertical-align: top;
	padding: 15px;
}

div#cr-left {
	vertical-align: top;
	float: left;
	margin-top: -1px;
}
div#cr-right {
	vertical-align: top;
	float: right;
}
div#cr-clear {
	clear: both;
}

div#options-container {
	border: 1px solid #000000;
	margin: 15px;
	margin-top: -15px;
}
div#options {
	border-top: 1px solid #000000;
	padding: 5px;
}
div#options table {
	width: 100%;
	/*border: 1px solid #000000;*/
	border-collapse: collapse;
}
div#options td {
	font-size: 10pt;
	width: 25%;
	/*border: 1px solid #000000;*/
}
div#options-top {
	padding: 5px;
}

div#submit-container {
	margin-left: 15px;
	margin-top: -20px;
	margin-bottom: 28px;
}
pre.xdebug-var-dump {
    background-color: #FFFFFF;
    color: #000000;
}
